github "ReactiveX/RxSwift" ~> 3.0
github "devxoul/RxKeyboard"
github "SwiftyJSON/SwiftyJSON"
github "SnapKit/SnapKit" ~> 3.0
github "Ramotion/paper-switch"
github "vikmeup/SCLAlertView-Swift" "master"
